<p-menubar>
  <ng-template pTemplate="start">
    <p style="color: #495057; font: 500 30px/32px Segoe UI; "> Central System Control</p>
  </ng-template>
</p-menubar>
<br>
<h1 style="color: #495057; font: 500 30px/32px Segoe UI; ">Machines:</h1>
<p-divider></p-divider>
<div class="card flex justify-content-center" *ngFor="let item of machineList">
  <p-accordion>
    <p-accordionTab header={{item.machineName}}>
      <div class="flex justify-content-center flex-wrap card-container">
        <p-button (click)="showEditDialog(item.machineName, item.machineIp, item.id)"
                  class="flex align-items-center justify-content-center m-2" icon="pi pi-cog"
                  styleClass="p-button-rounded"></p-button>
        <br>
        <p-button (click)="deleteMachine(item)" class="flex align-items-center justify-content-center m-2"
                  icon="pi pi-times" styleClass="p-button-rounded"></p-button>
      </div>
      <div>
        Machine name: {{item.machineName}}
      </div>
      <br>
      <div>
        Machine ip: {{item.machineIp}}
      </div>

      <p-divider></p-divider>
      <h3>Resources usage</h3>
      <div class="flex card-container indigo-container">
        <div class="flex text-center p-4 border-round">
          <p-card header="Free memory">
            <p class="m-0">
              <p-knob [(ngModel)]="item.machineHealth.freeSize" [readonly]="true"
                      valueTemplate="{{item.machineHealth.freeSize}}%"></p-knob>
            </p>
          </p-card>
        </div>
        <div class="flex text-center p-4 border-round">
          <p-card header="Used memory">
            <p class="m-0">
              <p-knob [(ngModel)]="item.machineHealth.usedSize" [readonly]="true"
                      valueTemplate="{{item.machineHealth.usedSize}}%"></p-knob>
            </p>
          </p-card>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>

<br>
<p-button (click)="showAddDialog()" class="flex justify-content-center" icon="pi pi-plus"
          styleClass="p-button-rounded"></p-button>

<p-toast></p-toast>

<p-dialog header="Machine's info" [(visible)]="visible" [modal]="true" (onHide)="cancel()"  [style]="{ width: '50vw' }" [draggable]="false"
          [resizable]="false">
  <div class="flex flex-column gap-2">
    <label htmlFor="machineName">Machine name</label>
    <input pInputText id="machineName" aria-describedby="username-help" [(ngModel)]="machineName"/>
    <small id="machinename-help">Enter name of machine</small>
  </div>
  <p-divider></p-divider>
  <div class="flex flex-column gap-2">
    <label htmlFor="machineIp">Machine ip</label>
    <input pInputText id="machineIp" aria-describedby="machineip-help" [(ngModel)]="machineIp"/>
    <small id="machineip-help">Enter full ip of machine with port</small>
  </div>
  <br>
  <button type="button" pButton icon="pi pi-check" label="Save" (click)="accept()"></button>
</p-dialog>

<router-outlet></router-outlet>
